<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="谢晓强的个人网站">
    <meta name="author" content="谢晓强">
    <link rel="icon" href="/static/framework/bootstrap-3.3.6/docs/favicon.ico">

    <title>主页 | RicoXie.com</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/framework/bootstrap-3.3.6/docs/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/framework/bootstrap-3.3.6/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/framework/bootstrap-3.3.6/docs/examples/blog/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/static/framework/bootstrap-3.3.6/docs/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/framework/bootstrap-3.3.6/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Custom styles for this template -->
    <link href="/static/framework/bootstrap-3.3.6/docs/examples/carousel/carousel.css" rel="stylesheet">
    
    <link href="/static/css/base.css" rel="stylesheet">

    <link href="/static/css/root/index.css" rel="stylesheet">

  </head>

  <body>

    {% include "root/nav.html" %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Carousel
      ================================================== -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="first-slide" src="http://static.ricoxie.com/rico/root/index/slide1.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="text-white text-shadow">IP这么火，看看国内外泛娱乐产业现状</h1>
                </br>
                <p><a class="btn btn-lg btn-primary" target="_blank" href="http://mt.sohu.com/20151124/n427931269.shtml" role="button">查看原文</a></p>
              </div>
            </div>
          </div>
          <div class="item">
            <img class="second-slide" src="http://static.ricoxie.com/rico/root/index/slide2.jpg" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="text-white text-shadow">顺丰确认上市：除了千亿富豪的诞生，还有什么？</h1>
                </br>
                <p><a class="btn btn-lg btn-primary" target="_blank" href="http://36kr.com/p/5043747.html" role="button">查看原文</a></p>
              </div>
            </div>
          </div>
          <div class="item">
            <img class="third-slide" src="http://static.ricoxie.com/rico/root/index/slide3.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="text-white text-shadow">在百度健康医药馆下线之际，讲讲这些年互联网医疗领域的 “百度烙印”</h1>
                </br>
                <p><a class="btn btn-lg btn-primary" target="_blank" href="http://36kr.com/p/5043767.html" role="button">查看原文</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div><!-- /.carousel -->

    </div><!-- /#myCarousel -->
    
    
    <div class="backgroud-fluid">
      <div class="container bs-callout bs-callout-info">
        <div class="row">

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img class="img-responsive" src="http://static.ricoxie.com/rico/root/index/wechat_translate_QR.jpg" alt="微翻译">
              <div class="caption">
                <h3>微翻译</h3>
                <p>微翻译是一个微信翻译公众号，支持多种语言在线翻译。</p>
                </br>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img class="img-responsive" src="http://static.ricoxie.com/rico/root/index/micronewsLogo.png" alt="一句话新闻">
              <div class="caption">
                <h3>一句话新闻</h3>
                <p>一句话新闻是一个Windows8.1应用，包含热点、国内、国际、亚洲、观点、财经、体育、文萃八大板块&nbsp;<a target="_blank" href="http://apps.microsoft.com/windows/zh-cn/app/d01e3759-73c0-4f54-b074-00d50b257f0a">»</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div><!-- /.backgroud-fluid -->

    {% include "footer.html" %}
    <script>
      // interval is in milliseconds.
      $('.carousel').carousel({
        interval: 3500,
        pause: "false"
      });
    </script>

  </body>
</html>
