    <footer class="blog-footer">
      <p>Copyright © 2013-2016 RicoXie.com. All rights reserved.</p>
      <p>Code licensed MIT, docs CC BY 3.0.</p>
      <p>粤ICP备16005405号-1</p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/framework/bootstrap-3.3.6/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/framework/bootstrap-3.3.6/docs/dist/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/framework/bootstrap-3.3.6/docs/assets/js/ie10-viewport-bug-workaround.js"></script>